h1 {
  font-family: ComicFont, Helvetica, sans-serif;
  font-weight: normal;
}

h2 {
  font-family: ComicFont, Helvetica, sans-serif;
  font-weight: normal;
}

body {
  font-family: Comicfont, Helvetica, sans-serif;
  font-weight: normal;
  background-color: #134366;
}

.mobile-container {
  max-width: 480px;
  margin: auto;
  background-color: #555;
  height: 500px;
  color: white;
  border-radius: 10px;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #04AA6D;
  color: white;
}

@font-face {
  font-family: comicFont;
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/BADABB.TTF");
}

.headmessage {
  font-family: comicFont;
  font-weight: normal;
}

* {
  box-sizing: border-box
}

.mySlides {
 display:none;
 
}

#slide1 {
  display:block
}

img {
  vertical-align: middle;
}

.slideshow-container {
  max-width: 900px;
  max-height: 30em;
  height: 100%;
  position: relative;
  margin: auto;
  object-fit: contain;
  overflow: hidden;
  border: solid black 3px;
}

.slideshow-container .slideImg {
  width: auto;
  height: 100%;
  display:block;

}

.mySlides {
object-fit: contain;
float: center;
}

.fade {
animation-name: fade;
animation-duration: 2s;
}

@keyframes fade {
from {opacity: .5}
to {opacity: 1}
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.text {
  color: #f2f2f2;
  font-size: 200%;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  -webkit-text-stroke: 1.5px black;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #04AA6D;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

@media only screen and (max-width: 300px) {

  .prev,
  .next,
  .text {
    font-size: 11px
  }
}

.container1 {
  display: flex;
  flex-direction: column;
  background-color: rgb(59, 116, 116);
  justify-content: center;
  flex: 0 1 auto;
  flex-wrap: wrap;
}

.container1>div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

.content{
  background-color: #F6FAF4;
  margin-left: 7%;
  margin-right: 7%;
  margin-bottom: 10%;
  padding: 5px;
  box-shadow: 1px 0px 5px;
}